VITE_API_URL=<vite_api_url>
FRONTEND_URL=<frontend_url>
DATABASE_URL=<database_url>
SECRET_KEY=<secret_key>

# neon db settings
PGHOST=<pg_host>
PGDATABASE=<pg_database>
PGUSER=<pg_user>
PGPASSWORD=<user_password>
PGSSLMODE=require
PGCHANNELBINDING=require

# JWT_SETTINGS
ACCESS_TOKEN_EXPIRE_MINUTES=<minutes>
REFRESH_TOKEN_EXPIRE_DAYS=<days>
ACTIVATION_CODE_EXPIRE_MINUTES=<minutes>
RESET_TOKEN_EXPIRE_MINUTES=<minutes>

# REDIS
REDIS_URL=<redis_url>

# STRIPE
STRIPE_SECRET_KEY=<stripe_secret_key>
STRIPE_PUBLISHABLE_KEY=<stripe_publishable_key>
STRIPE_WEBHOOK_SECRET=<webhook_secret>

# SMTP
SMTP_HOST=<smtp_host>
SMTP_PORT=<smtp_port>