# secrets
.env
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
build/
dist/
.idea/


# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/

# System
.DS_Store
Thumbs.db

# secrets
.env
*.pem

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
build/
dist/

# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/

# System
.DS_Store
Thumbs.db

# Poetry
.venv/

# Celerybeat
celerybeat-schedule*
stripe.exe

# VSCode
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# ruff
.ruff_cache/
