DATABASE_URL=<DB_URL>
SECRET_KEY=<Your_Secret_Key>

# PostgreSQL
POSTGRES_DB=<db_name>
POSTGRES_USER=<user_name>
POSTGRES_PASSWORD=<password>
POSTGRES_HOST=<host>
POSTGRES_PORT=<db_port>

# JWT_SETTINGS
ACCESS_TOKEN_EXPIRE_MINUTES=<minutes>
REFRESH_TOKEN_EXPIRE_DAYS=<days>
ACTIVATION_TOKEN_EXPIRE_HOURS=<hours>
RESET_TOKEN_EXPIRE_MINUTES=<minutes>
