@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.footer {
  margin-top: $spacing-88;
  padding: $spacing-32 var(--container-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-16;
  text-align: center;
  box-sizing: border-box;
}

.footer__text {
  @include text(16px, 500);
  margin: 0;
}

.footer__logo {
  @include flex-center;
  @include hover-opacity;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  flex-shrink: 0;
}

.footer__social {
  @include text(14px, 400);
  margin: 0;
}

.footer__links {
  display: flex;
  gap: $spacing-16;

  a {
    @include text(12px, 400);
    color: #888;
    @include hover-opacity;
  }
}


.footer__link {
  @include text(12px, 400);
  color: #888;
  @include hover-opacity;
}

.footer__contact {
  @include text(12px, 400);
  color: #888;
  margin: 0;
}