@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.main {
  flex: 1;
  padding: $spacing-16 var(--container-padding) 80px;

  @include tablet {
    padding: $spacing-24 var(--container-padding) $spacing-88;
  }

  @include desktop {
    padding: $spacing-32 var(--container-padding) $spacing-88;
  }
}

.page-title {
  font-family: $font-family;
  font-size: 14px;
  font-weight: 500;
  color: $color-text;
  margin: 0 0 4px;
}